<div class="trip-place">
  <div class="container">
    <h3 class="trip-ab">旅行先は？</h3>
    <%= form_with(model: @trip, local: true) do |form| %>
      <%= render 'shared/error_messages', model: form.object %>
      <%= form.text_field :name, placeholder: "旅行先" %>
      <%= form.submit "登録する" %>
    <% end %>
  </div>
  <%=link_to 'もどる', root_path, class:"class" %>
</div>