<div class="item-register">
 <div class = "trip-name">
  <h1>旅行先：<%=  @trip.name %><%=link_to '(Topへ)', root_path, class:"back" %></h1>
 </div>
  <div class='total_btn'>
    <div class = "item btn">
      <%= link_to  "持ち物", trip_items_path(@trip.id), method: :get, class:"btn-gradient-3d-simple" %>
    </div>
    <div class = "item-list">
      <% @items.each do |item| %>
          <li class="item-text">
           <input type="checkbox"> <span class="strikethrough"><%= item.name %></span><%= link_to '(削除)', trip_item_path(@trip.id, item), method: :delete, class:'#' %>

          </li>
      <% end %> 
    </div>
    <div class = "todo_btn">
      <%= link_to "ミッション", trip_missions_path(@trip.id), method: :get, class:"btn-gradient-2d-simple" %>
    </div>
    <div class="todo-list">
      <% @missions.each do |mission| %>
         <li class="todo-text">
          <input type="checkbox"><span class="strikethrough"><%= mission.name %></span><%= link_to '(削除)', trip_mission_path(@trip.id, mission), method: :delete, class:'#' %>
         </li>
      <% end %> 
    </div>
    <div class = "todo_btn">
      <%= link_to "備忘録", trip_memos_path(@trip.id), method: :get, class:"btn-gradient-1d-simple" %>
    </div>
    <div class="todo-list">
      <% @memos.each do |memo| %>
         <li class="memo-text">
          ・<%= memo.text %><%= link_to '(削除)', trip_memo_path(@trip.id, memo), method: :delete, class:'#' %>
         </li>
      <% end %> 
    </div>
  </div>
</div>