<div class="item-register">
 <div class = "trip-name">
  <h1>旅行先：<%=  @trip.name %></h1>
 </div>
  <div class='total_btn'>
    <div class = "register-btn">
      <%= link_to '持ち物登録', trip_items_path(@trip.id), method: :get, class: "register-red-btn" %>
    </div>
    <div class = "register-btn">
      <%= link_to 'ミッションの登録', trip_missions_path(@trip.id), method: :get, class: "register-red-btn" %>
    </div>
    <div>
      <% @items.each do |item| %>
        <%if @items = nil %>
          <%= "持ち物を登録してください" %>
        <%else%>
         <li>
           <%= item.name %>
           <%= item.number %>
         </li>
        <% end %> 
      <% end %> 
    </div>
     <%=link_to 'もどる', root_path, class:"#" %>
  </div>
</div>