<%# <div class="#">
  持ち物リスト
  <div>
    <ul id="todo js-item-target"></ul>
      <input id="js-item-value" type="text" />
      <button id="js-item-trigger" type="button">持ち物を追加する</button>
    ● <input type="text", placeholder="(例)パスポート"> <input type="number", style="width:50px", placeholder="個数">
  </div>
    <input type="submit", value="登録">  
</div> %>

<div class="items-sell-main">
  <h2 class="items-sell-title">持ち物と個数を入力</h2>
  <%= form_with model: @item, local: true do |f| %>
    <div class="img-upload">
      <div class="click-upload">
        ・<%= f.text_field :items, name: 'name',id:"item-image", placeholder:"(例)パスポート" %>
          <%= f.number_field :items, name: 'number',id:"item-image", placeholder:"個数" , style:"width:50px"%>
      </div>
    </div>

    <div class="＃">
      <%= f.submit "登録する" ,class:"＃" %>
      <%=link_to 'もどる', root_path, class:"#" %>
    </div>
  <% end %>
</div>
