 <div class="todo-main">
 <h1 class="todo-messeage">あなたは現地でどんな「０→１」体験をしますか？</h1>
  <%= form_with url: trip_missions_path, local: true do |f| %>
   <%= render 'shared/error_messages', model: @mission %>
   <div class="todo-form">
    <%= f.text_field :name, id:"content", placeholder:"(例)名産品を買う"%>
    <%= f.submit '登録する' , id: "submit" %>
    <br><%=link_to '(Topへ)', root_path, class:"back-mission" %>
   </div>
  <% end %>
  <div>
  </div>
 </div>