 <div class="todo-main">
  <%= form_with model: @item, local: true do |f| %>
    <%= f.text_field :name, id:"content", placeholder:"(例)名産品を買う" %>
    <%= f.submit '登録する' , id: "submit" %>
  <% end %>
  <div id="list">
  </div>

  <% @missions.each do |mission| %>
    <div class="post" data-id=<%= mission.id %> data-check=<%= mission.checked %>>
      <div class="post-content">
        ・<%= mission.name %>
      </div>
    </div>
  <% end %>
 </div>